<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="rekap.css">
    
    <title>Rekap Data</title>
    <style>

    </style>
</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
            <img src="assets/user2.png" alt="profile_picture">
            <h3>Yoga Karanda Widjaya</h3>
            <p>Admin</p>
        </div>
            <!--menu item-->
            <ul>
              <li>
                  <a href="#"  >
                      <span class="icon"><i class="fas fa-desktop"></i></span>
                      <span class="item">Dashboard</span>
                  </a>
              </li>
              <li>
                  <a href="#" class="active">
                      <span class="icon"><i class="fas fa-database"></i></span>
                      <span class="item">Rekap Data</span>
                  </a>
              </li>
              <li>
                  <a href="#" >
                      <span class="icon"><i class="fas fa-cog"></i></span>
                      <span class="item">Settings</span>
                  </a>
              </li>
              <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-logout"></i></span>
                    <span class="item">Logout</span>
                </a>
              </li>
          </ul>
        </div>
        
    </div>

    <form>

        
    </form>
  <script>

  </script>
</body>
</html>