*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
  
  body{
    background-image: url(assets/bg_1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
    }

  .wrapper .sidebar{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
margin-bottom: 30px;
text-align: center;
}

.wrapper .sidebar .profile img{
display: block;
width: 100px;
height: 100px;
border-radius: 50%;
margin: 0 auto;
}

.wrapper .sidebar .profile h3{
color: #ffffff;
margin: 10px 0 5px;
font-weight: lighter;
}

.wrapper .sidebar .profile p{
color: rgb(206, 240, 253);
font-size: 14px;
}
.wrapper .sidebar ul li a{
display: block;
padding: 13px 30px;

color: rgb(255, 255, 255);
font-size: 16px;
position: relative;
}

.wrapper .sidebar ul li a .icon{
color: #ffffff;
width: 30px;
display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
color: #000000;

background:rgb(255, 0, 0);

}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
color: #ffffff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
display: block;
}

form{
  width: 1180px;
  height: 600px;
  border-radius: 40px;
  background-color: #000000;
  position: absolute;
  padding: 50px 35px;
  box-sizing: content-box;
  top: 50%;
  left: 880px;
  transform: translate(-50%, -50%);
}

form .profile {
  text-align: center;
  color: #ffffff;
}

.container {
  padding: 30px;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  width: 40%;
  margin-top: 20px;
}

::placeholder {
  color: #423e3e;
}

.container h1{
  font-family: 'Popping', sans-serif;
  font-size: 40px;
  width: auto;

}

.container button {
  margin-top: 10px;
  width: auto;
  background-color: #ff0000dc;
  color: #ffffff;
  padding: 10px;
  font-size: 13px;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
  
}

input[type=text], input[type=password] {

  height: 40px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bolder;
}