*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }
  
  body{
    background-image: url(assets/bg_1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
    }

  .wrapper .sidebar{
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
margin-bottom: 30px;
text-align: center;
}

.wrapper .sidebar .profile img{
display: block;
width: 100px;
height: 100px;
border-radius: 50%;
margin: 0 auto;
}

.wrapper .sidebar .profile h3{
color: #ffffff;
margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
color: rgb(206, 240, 253);
font-size: 14px;
}
.wrapper .sidebar ul li a{
display: block;
padding: 13px 30px;

color: rgb(255, 255, 255);
font-size: 16px;
position: relative;
}

.wrapper .sidebar ul li a .icon{
color: #ffffff;
width: 30px;
display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
color: #000000;

background:rgb(255, 0, 0);

}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
color: #ffffff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
display: block;
}
